html, body {
  height: 100%; }

body {
  font-family: Sans-Serif;
  font-weight: 100; }

h1 {
  text-align: center;
  font-family: "Lato", Sans-Serif;
  font-weight: 900; }

.trendingTopic {
  width: 100%;
  display: inline-block;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 20px; }

.trendingTopic a:hover {
  font-weight: bold;
  color: #fe8d52; }

.trendsContainer {
  text-align: center;
  font-size: 0; }

.statsBar {
  width: 90%;
  display: block;
  margin: auto;
  font-size: 0;
  margin-bottom: 20px;
  padding: 20px; }
  .statsBar hr {
    display: inline-block;
    border: 5px solid;
    border-left: 0;
    border-right: 0;
    margin-left: 0.5%;
    margin-right: 0.5%; }
    .statsBar hr.positive {
      border-color: #158415; }
    .statsBar hr.negative {
      border-color: #A93030; }
    .statsBar hr.neutral {
      border-color: #B3B314; }
    .statsBar hr.irrelevant {
      border-color: #969696; }

#selectFilterBox {
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px -5px #474747;
  -moz-box-shadow: 0px 3px 10px -5px #474747;
  box-shadow: 0px 3px 10px -5px #474747;
  text-transform: none;
  margin: 0 10px; }
  #selectFilterBox:focus {
    outline: 0; }

.percentagePresentation {
  width: 90%;
  margin: auto;
  font-size: 0; }
  .percentagePresentation .percentageBox {
    font-size: initial;
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 20px 0px; }
    .percentagePresentation .percentageBox.totalCount {
      width: 100%; }
    .percentagePresentation .percentageBox .label.positive {
      color: #158415; }
    .percentagePresentation .percentageBox .label.negative {
      color: #A93030; }
    .percentagePresentation .percentageBox .label.neutral {
      color: #B3B314; }
    .percentagePresentation .percentageBox .label.irrelevant {
      color: #969696; }
    .percentagePresentation .percentageBox .percentage {
      font-size: 1.4em; }
  .percentagePresentation .totalNumTweets {
    margin: 20px 0px;
    font-size: initial; }
    .percentagePresentation .totalNumTweets .biggerText {
      font-size: 1.4em; }

a {
  color: #2D2D2D;
  text-decoration: none; }

#worldMap {
  position: relative;
  width: 100%; }

.mapContainer {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: auto; }

#menuIcon {
  float: left;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }

header {
  background-color: #3B4142;
  color: #fafafa;
  overflow: auto;
  height: 75px;
  text-align: right; }

footer {
  background-color: #3B4142;
  text-align: center;
  color: #fafafa;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  height: 50px;
  margin-top: -50px;
  font-size: 10pt;
  color: #D0D0D0; }

.headerLinks {
  padding: 20px 20px 20px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  max-width: 50%;
  display: inline-block;
  vertical-align: middle; }

.headerLinks a img {
  max-height: 100%;
  max-width: 100%; }

.headerTitle {
  font-family: "Lato", Sans-Serif;
  font-size: 14pt;
  padding: 24px 2px 24px 24px;
  vertical-align: middle;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block; }
  .headerTitle a {
    color: white;
    text-decoration: none; }

.status {
  display: block;
  margin: auto;
  width: 75%;
  padding: 5%;
  text-align: center; }
  .status img {
    display: block;
    margin: auto;
    width: 75px;
    padding: 20px; }

.error {
  background-color: #DE3A3A;
  color: #fafafa;
  font-size: initial; }

.pageWrap {
  min-height: 100%;
  padding-bottom: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.tweet {
  width: 96%;
  margin: 10px 2%; }

.sentimentStats {
  text-align: center;
  padding: 20px;
  padding-top: 0; }
  .sentimentStats .filter {
    margin-top: 30px; }

.tweet {
  font-size: 0;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  -moz-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  padding: 20px 0px 0px;
  vertical-align: top;
  overflow: hidden; }
  .tweet img {
    border-radius: 100%;
    display: inline-block;
    width: 18%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: initial;
    vertical-align: middle;
    padding: 10px; }
  .tweet .tweetContent {
    font-size: initial;
    display: inline-block;
    width: 82%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .tweet .tweetContent .userName {
      font-weight: bold;
      width: 100%;
      display: block; }
  .tweet .labelDisplay {
    font-size: initial;
    display: block;
    text-align: center;
    background-color: #F1EFEF;
    color: #3B4142;
    padding: 2px;
    margin-top: 10px; }
    .tweet .labelDisplay span.positive {
      color: #158415; }
    .tweet .labelDisplay span.negative {
      color: #A93030; }
    .tweet .labelDisplay span.neutral {
      color: #B3B314; }
    .tweet .labelDisplay span.irrelevant {
      color: #969696; }

#menu {
  position: absolute;
  width: 200px;
  left: -200px;
  transition: left 0.2s ease;
  -webkit-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  -moz-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  display: block;
  top: 75px;
  background-color: white; }
  #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #menu ul li {
      padding: 20px; }

#menu.open {
  left: 0; }

.loginForm * {
  font-size: initial; }

form.form {
  font-size: 0; }

.loginForm {
  display: block;
  margin: auto; }
  .loginForm form {
    margin: 30px auto 0px auto; }
  .loginForm input.inputField {
    width: 100%;
    padding: 15px;
    margin: 1px 0px;
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    text-align: center;
    background-color: #F5F5F5; }
  .loginForm input.button {
    margin: auto;
    font-family: "Lato", Sans-Serif;
    color: #2D2D2D;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    padding: 20px;
    border: 0px;
    margin: 0;
    width: 50%; }
  .loginForm input.button.fullWidth {
    width: 100%;
    margin: 0; }
  .loginForm input.button:hover {
    background-color: #fe8d52;
    color: #fafafa; }

.button {
  background-color: white;
  border: 1px solid #4b4b4b;
  font-size: 18px;
  padding: 5px 20px; }

.searchBars {
  font-size: 0;
  display: block;
  margin: auto;
  text-align: center;
  max-width: 800px; }

#mainSearch, #topicSearch {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: initial;
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 5px;
  outline: none; }

.mapContainer {
  display: none; }

.fullWidth {
  width: 100%; }

.loginBox, .loginErrorContainer {
  display: block;
  /* background-color: gray; */
  width: 80%;
  margin: auto;
  padding-top: 20px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  -moz-box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4);
  box-shadow: 0px 5px 45px -10px rgba(71, 71, 71, 0.4); }
  .loginBox img.backButton, .loginErrorContainer img.backButton {
    cursor: pointer;
    position: absolute;
    height: 75px;
    padding: 10px;
    box-sizing: border-box; }

.topicHeader {
  text-align: center; }
  .topicHeader h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
  .topicHeader a img {
    display: inline-block;
    height: 80px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 20px;
    cursor: pointer; }

.loginErrorContainer {
  padding: 0; }
  .loginErrorContainer .status.error {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

.loggedInAs {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  background-color: #fe8d52;
  color: #fafafa; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .loginBox, .loginErrorContainer {
    width: 50%; }

  .mapContainer {
    display: block; }

  .tweet {
    width: 46%;
    margin: 10px 2%; }

  .trendingTopic {
    width: 50%; }

  .headerTitle {
    font-family: "Lato", Sans-Serif;
    font-size: 22px; }

  .topicHeader h1 {
    margin-left: 20px;
    margin-right: 100px; }

  #mainSearch, #topicSearch {
    width: 50%; }

  .statsBar {
    width: 80%; }

  .percentagePresentation {
    width: 80%; }
    .percentagePresentation .percentageBox {
      width: 20%;
      margin: 0; }
      .percentagePresentation .percentageBox.totalCount {
        width: 20%; } }
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .tweet {
    width: 31%;
    margin: 10px 1%; }

  .trendingTopic {
    width: 33.3%; }

  .loginBox, .loginErrorContainer {
    width: 40%; }

  .statsBar {
    width: 50%; }

  .percentagePresentation {
    width: 70%; } }
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .loginBox, .loginErrorContainer {
    width: 30%; }

  .statsBar {
    width: 40%; }

  .percentagePresentation {
    width: 60%; } }

/*# sourceMappingURL=style.css.map */
