<div class="topicHeader">
	<a ng-href="/#/map"><img src="img/back-icon.png"/></a>
	<h1>{{activeTopic().name}}</h1>
</div>

<div ng-show="loadingTweets()" class="status loading">
	Fetching tweets...
	<img src="img/loading-indicator.gif">
</div>

<div class="sentimentStats" ng-hide="loadingTweets()">
	<div class="statsBar">
		<hr class="positive" style="width:{{ getPercentage('positive', 'floor') - 1 }}%; {{ checkIfZero('positive') }}"/>
		<hr class="negative" style="width: {{ getPercentage('negative', 'floor') - 1 }}%; {{ checkIfZero('negative') }}"/>
		<hr class="neutral" style="width: {{ getPercentage('neutral', 'floor') - 1 }}%; {{ checkIfZero('neutral') }}"/>
		<hr class="irrelevant" style="width: {{ getPercentage('irrelevant', 'floor') - 1 }}%; {{ checkIfZero('irrelevant') }}"/>
	</div>
	<div class="percentagePresentation">
		<div class="percentageBox">
			<div class="label positive">Positive</div>
			<div class="percentage">{{ getPercentage('positive', 'round') }}%</div>
		</div>
		<div class="percentageBox">
			<div class="label negative">Negative</div>
			<div class="percentage">{{ getPercentage('negative', 'round') }}%</div>
		</div>
		<div class="percentageBox totalCount">
			<div class="label total">Tweets</div>
			<div class="percentage">{{ sentiments().total.count }}</div>
		</div>
		<div class="percentageBox">
			<div class="label neutral">Neutral</div>
			<div class="percentage">{{ getPercentage('neutral', 'round') }}%</div>
		</div>
		<div class="percentageBox">
			<div class="label irrelevant">Irrelevant</div>
			<div class="percentage">{{ getPercentage('irrelevant', 'round') }}%</div>
		</div>
	</div>
	<div class="filter">
		Showing 
		<select ng-model="showResultType" ng-options="sentiment.name as sentiment.name for sentiment in filterOptions" id="selectFilterBox">
	    </select>
	     tweets
	</div>
</div>

<div ng-repeat="tweet in topTweets() | filter:tweetFilter | orderBy:['-favorite_count','-retweet_count']" class="tweet">
	<img ng-src="{{tweet.user.profile_image_url}}"/>
	<div class="tweetContent">
		<span class="userName">{{tweet.user.name}}</span>
		<span class="tweetText">{{tweet.text}}</span>
	</div>
	<div class="labelDisplay">
		<div class="tweetInfoCol">
			<img src="img/retweet-icon.png"/>{{tweet.retweet_count}}
		</div>
		<div class="tweetInfoCol">
			<img src="img/heart-icon.png"/>{{tweet.favorite_count}}
		</div>
		<div class="tweetInfoCol">
			<img ng-src="img/{{tweet.predicted_sentiment}}-icon2.png"/><span ng-class="tweet.predicted_sentiment">{{ tweet.predicted_sentiment }}</span></div>
		</div>
</div>